<!doctype html>
<head>
  
  <title>Hello Chaps</title>
  {{ 'theme' | asset_url | stylesheet_tag }}
</head>
<body>
  <b>header</b>
  <br>
  
  <div style='background: #e1e1e1; padding: 10px;'>
    {{ 'super burgers' | rob }}
  </div>

  <br>
  <b>footer</b>
</body>
</html>